
body {
	background-color: silver;
}

.building{
	padding: 10px;
	display: inline-block;
	border: 2px solid black;
	text-align: center;
	
}
.activities{
	width: 800px;
	border: 2px solid black;	
}
.red{
	color: red;
}
.green{
	color: green;
}